@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;900&display=swap');
*{
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
}
body{
    margin: 0%;
}
img{
    height: 450px;
    width: auto;
    align-items: center;
}
h2{
    margin: 0%;
    color: white;
    background-color: #04146c;
    font-weight: 400;
    font-size: 38px;
}
h1{
    color: #04146c;
    font-weight: 900;
    font-size: 88px;
}
h3{
    color: #04146c;
    font-weight: 400;
    font-size: 26px;
}
strong{
    color: #04146c;
    font-weight: 700;
    font-size: 26px;     
}
p{
    color: #04146c;
    background-color: #edf7ff;
    font-weight: 400;
    font-size: 24px; 
}